{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Hello' %}

{% block page_content %}


<div class="row text-center">
    <div class="card px-2" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
            
            {{ users }} </p>
        </div>
    </div>
    <div class="card mx-2" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
            {{ cars }}</p>
        </div>
    </div>
    <div class="card px-2" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
            {{ rentals }}</p>
        </div>
    </div>
</div>

   
{% endblock %}