{# templates/base.html.twig #}
{% extends "base.html.twig" %}

  	{% block body %}
<div class=" container-fluid imgbackground mt-5">

      <h1 class="text-white alignedh1 h1home"> LokAuto</h1>
      <h2 class="text-white alignedh1"> Votre référence pour la location Auto </h2>


</div>

<div class="container text-center">


<p class="pt-2"> Chez LokAuto vous trouverez les plus belles voitures de location aux meilleurs prix. <br>
Découvrez nos offres, et faites vous plaisir ! </p>

</div>


  	{% endblock %}
