{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <h1>Editer</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mise à Jour'}) }}

    <a href="{{ path('user_index') }}">Retourner à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
