{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <h1>Editer</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('home') }}">Retourner à l'accueil</a>

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
